{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "semi":"off",
    "object-curly-spacing":"warn",
    "require-jsdoc":"off",
    "no-multi-spaces":"warn",
    "quotes":"off",
    "comma-dangle":"warn",
    "eol-last":"off",
    "arrow-parens":"off",
    "no-trailing-spaces": "warn",
    "no-unused-vars": "warn",
    "operator-linebreak": "off",
    "max-len": "warn"
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "google"]
}
